h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas  
                    +navTemaItem('text', 'Introducción', 'main.html#page/introduccion/') 
                    +navTemaItem('1', 'Condicionales simples', 'main.html#page/condiciones_simples/')
                    +navTemaItem('2', 'Condicionales anidadas', 'main.html#page/condicionales_anidadas/')                 
                    +navTemaItem('question', 'Actividad didáctica', 'main.html#page/actividad/')          
                   
                    
                    