h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 #[strong Cod. 220501096-3]
        p.mb-0 Utilizar estructuras de control condicionales en Python de acuerdo con los requerimientos técnicos.



