.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 #[i Bug]:
            | un error en un programa.
        hr
        p
            strong.mr-2 Error semántico:
            | un error dentro de un programa que provoca que haga algo diferente de lo que pretendía el programador.
        hr
        p
            strong.mr-2 Función #[i print]:
            | una instrucción que hace que el intérprete de Python muestre un valor en la pantalla.
        hr
        p
            strong.mr-2 Indicador de línea de comandos #[i (prompt)]:
            | Cuando un programa muestra un mensaje y se detiene para que el usuario teclee algún tipo de dato.
        hr
        p
            strong.mr-2 Interpretar: 
            | ejecutar un programa escrito en un lenguaje de alto nivel, traduciéndolo línea a línea.
        hr
        p
            strong.mr-2 IDLE: 
            | el entorno integrado de desarrollo de Python, o Integrated Development Environment for Python. IDLE es un editor básico y un entorno de intérprete que se incluye con la distribución estándar de Python.
        hr
        p
            strong.mr-2 Modo interactivo: 
            | un modo de usar el intérprete de Python, escribiendo comandos y expresiones directamente en el indicador de la línea de comandos.
        hr
        p
            strong.mr-2 Portabilidad: 
            | es la propiedad que poseen los programas que pueden funcionar en más de un tipo de computadora.     
        hr
        p
            strong.mr-2 Módulo: 
            | es un objeto que sirve como unidad para organización del código. Los módulos son cargados por el proceso de import.
        hr
        p
            strong.mr-2 Tipo: 
            | el tipo de un objeto Python determina qué tipo de objeto es; cada objeto tiene un tipo. El tipo de un objeto puede ser accedido por su atributo __class__ o puede ser conseguido usando type(obj).      